@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pirates-red: #c51c1c;
  --pirates-gold: #ffb700;
  --pirates-silver: #b2b2b2;
  --pirates-black: #111111;
  --pirates-white: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #242424;
  border: 8px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #111111;
  border: 85px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body {
  background: rgb(29, 31, 68);
  background: linear-gradient(
    0deg,
    rgba(29, 31, 68, 1) 0%,
    rgba(117, 82, 0, 1) 100%
  );
  background: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: rgb(211, 211, 211);
}

div {
  border-color: var(--pirates-red);
}
h1 {
  color: var(--pirates-gold);
  font-size: 2rem;
}
h2 {
  color: var(--pirates-red);
  font-size: 1.8rem;
}
h3 {
  color: var(--pirates-red);
  font-size: 1.5rem;
}
p {
  color: var(--pirates-siver);
  font-size: 1.3rem;
}

li.pagenoactive {
  border-bottom: 1px solid transparent;
}
li.pageactive {
  border-bottom: 1px solid red;
}

.modal-height {
  height: calc(100% - 60px);
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
